/*PALETA DE COLORES
#A7727D Rosa
#EDDBC7 Beige 1
#F8EAD8 Beige 2
#F9F5E7 Beige 3
*/

/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Zilla Slab;
}


/*MENÚ*/

.menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #A7727D;
    font-weight: bold;
    list-style: none;
    align-content: center;

}

.link {
    text-decoration: none;
    color: #EDDBC7;
}


.logoheader {
    max-width: 20%;
    padding-left: 0;
    margin-left: 0;
    background-color: #A7727D;
    font-size: 2rem;
}

@media (min-width: 992px) {
    .flex-wrap {
        flex-wrap: nowrap !important;
    }
}

.navbar-brand {
    max-width: 50%;

    font-size: 1rem;
}


/*Main Index*/

.main-index {
    height: 100%;
    background-color: #F9F5E7;

}

.index-title {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 3%;
}

.index-text {
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    font-size: x-large;
    text-align: justify;
}

.missionphoto {
    height: 70%;
    width: 100%;
    border-radius: 50px;
    box-shadow: gray 4px 4px 4px 4px;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 5%;
}

/*CARDs Index*/
.card {
    background-color: #EDDBC7;
    box-shadow: gray 2px 2px 2px 2px;
    align-items: center;
    width: 10rem;
    align-items: center;
    margin-left: 4%;
    margin-top: 3%;
    margin-right: 4%;
    margin-bottom: 10%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.card-title {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.card-subtitle {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.images-section {
    width: 30%;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:400px) {

    .index-title {
        font-size: xx-large;
    }

    .index-text {
        font-size: x-large;
    }

    .card {
        width: 60%;
        align-items: center;
        margin-left: 3%;
        margin-top: 3%;
        margin-right: 3%;
        margin-bottom: 5%;

    }


    .row-card {
        display: flex;
        flex-direction: column;
    }

    .card-title {

        font-weight: bold;
        font-size: large;
        text-align: center;
    }
}


/*About-us*/

.main-aboutUs {
    width: 100%;
    background-color: #F9F5E7;
}

.aboutUs-content {
    width: 100%;
    display: grid;
    grid-template-areas:
        "img1 text1"
        "text2 img2"
        "img3  text3 ";
    grid-template-columns: 50% 50%;
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: flex;
    align-items: center;
}

.institute-photo {
    grid-area: img1;
    width: 90%;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px;
}

.ebabel-story {
    grid-area: text1;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;

}

.ebabel-story p {
    text-align: justify;
    font-size: large;
    margin-right: 4%;
}

.founder1 {
    grid-area: text2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-justify: justify;
    align-items: center;
    align-content: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    text-align: justify;
    font-size: large;
}

.founder1-photo {
    grid-area: img2;
    width: 90%;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px;
}

.founder2-photo {
    grid-area: img3;
    width: 90%;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px;

}

.founder2 {
    grid-area: text3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-justify: justify;
    align-items: center;
    align-content: center;
    margin-left: 1%;
    margin-top: 5%;
    margin-right: 10%;
    text-align: justify;
    font-size: large;

}

.ebabel-story h2 {
    color: #80575f;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
    align-items: start;
    padding-left: 5px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 5px;

}

.founder1 h4 {
    color: #80575f;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
}

.founder2 h4 {
    color: #80575f;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
}


/*Courses*/

.main-courses {
    display: grid;
    grid-template-areas:
        "img1 text1 img2 text2"
        "empty-img1 img3 text3 empty-text1"
        "img4 text4 img5 text5"
        "empty-img2 img6 text6  empty-text2";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: max-content;
 }


    .children {
        grid-area: img1;
        width: 100%;
    }

    .text-courses-1 {
        grid-area: text1;
        background-color: #F9F5E7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: larger;
        font-weight: bolder;
        color: #80575f;
        margin-bottom: 0;
    }

    .teens {
        grid-area: img2;
        width: 100%;
    }

    .text-courses-2 {
        grid-area: text2;
        background-color: #F9F5E7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: larger;
        font-weight: bolder;
        color: #80575f;
        margin-bottom: 0;
    }

.adults {
    grid-area: img3;
    width: 100%;
}

.text-courses-3 {
    grid-area: text3;
    background-color: #F9F5E7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: #80575f;
    margin-bottom: 0;
}

.company {
    grid-area: img4;
    width: 100%;
}

.text-courses-4 {
    grid-area: text4;
    background-color: #F9F5E7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: #80575f;
    margin-bottom: 0;
}

.online-classes {
    grid-area: img5;
    width: 100%;
}

.text-courses-5 {
    grid-area: text5;
    background-color: #F9F5E7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: #80575f;
    margin-bottom: 0;
}

.text-courses-6 {
    grid-area: text6;
    background-color: #F9F5E7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: #80575f;
    margin-bottom: 0;
}

.individual-classes {
    grid-area: img6;
    width: 100%;
}

.empty-img1 {
    grid-area: empty-img1;
    background-color: #EDDBC7;
}

.empty-text1 {
    grid-area: empty-text1;
    background-color: #EDDBC7;
}

.empty-img2 {
    grid-area: empty-img2;
    background-color: #EDDBC7;

}

.empty-text2 {
    grid-area: empty-text2;
    background-color: #EDDBC7;
}








/*CONTACT*/

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    font-size: larger;
    font-weight: bold;
    margin-top: 2%;
}

.contact-subtitle {
    font-weight: bold;
}

.contact-label {
    font-weight: bolder;
}

@media (min-width:979px) {
    .contact-container {
        width: 60%;
        margin-left: 22%;
    }
}

@media (max-width:400px) {
    .contact-subtitle {
        margin-left: 2%;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 90%;
        margin-left: 5%;
    }

    .map {
        margin-left: 2%;
    }
}

.map {
    margin-top: 2%;
    height: 80%;
    width: 100%;
}



/*FOOTER*/


.footer {
    width: 100%;
    background-color: #80575f;
}

.footer-content {
    width: 100%;
    background-color: #A7727D;
    display: grid;
    grid-template-areas:
        "img1  img2   img3"
        "img4  img2   img6";
    grid-template-columns: 20% 60% 20% grid-template-rows 10px 10px;

    .facebook {
        grid-area: img1;
    }

    .logo-footer {
        grid-area: img2;
    }

    .mail {
        grid-area: img3;
    }

    .instagram {
        grid-area: img4;
    }


    .phone {
        grid-area: img6;
    }
}


.logo-footer img {
    width: 40%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.facebook img {
    width: 13%;
    padding-top: 5%;
    padding-left: 2%;
    text-align: end;

}

.instagram img {
    width: 13%;
    padding-top: 5%;
    padding-left: 2%;
    text-align: end;
}

.mail img {
    width: 9%;
    padding-top: 5%;
}

.mail {
    text-align: end;
    padding-right: 5%;
}

.phone img {
    width: 10%;
    padding-top: 5%;
}

.phone {
    text-align: end;
    padding-right: 5%;
}

@media only screen and (max-width:400px) {

    .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;

    }

    .logo-footer img {
        width: 30%;
        justify-content: center;
    }

    .facebook img {
        width: 45%;
        padding-top: 5%;
        padding-left: 2%;
        align-items: end;
    }

    .facebook {
        align-items: end;
    }

    .instagram img {
        width: 45%;
        padding-top: 5%;
        padding-left: 2%;
    }

    .instagram {
        align-items: end;
    }

    .mail img {
        width: 20%;
        padding-top: 5%;
    }

    .mail {
        text-align: end;
        padding-right: 5%;

    }

    .phone img {
        width: 20%;
        padding-top: 5%;
    }

    .phone {
        text-align: end;
        padding-right: 5%;
    }

}

/*Medias query*/

/*MQ about-us*/
@media only screen and (max-width: 500px) {

    .aboutUs-content{
        display:list-item;
        margin: 0;
    }

    .story-text{
        width: 100%;
        margin-left: 6%;
        margin-right: 6%;
    }

    .founder1 {
        align-content: center;
        margin-left: 6%;
        margin-right: 6%;
    }

    .founder2 {
        align-content: center;
        margin-left: 6%;
        margin-right: 6%;
    }

}