.main-contact {
    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;

        .contact-title {
            font-weight: bold;
            margin-top: 2%;
        }

        .contact-subtitle {
            font-weight: bold;
        }
    }

    .form-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 10%;

        .form-label {
            font-weight: bolder;
        }

        .btnContact {
            background-color: #80575f;
            border-color: #80575f;
            color: #EDDBC7;
            font-weight: bold;
            margin-bottom: 3%;

        }
    }

    .map-container {
        height: 100%;
        width: 100%;
    }

    .map {
        height: 300px;
        width: 100%;
    }
}
