.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;

    .btnContact {
        background-color: #A7727D;
        color: #EDDBC7;
        border-color: #A7727D;
        font-weight: bold;
        margin-left: 2%;
        margin-bottom: 4%;
        align-content: end;
    }

    .contact-title {
        font-weight: bold;
        margin-top: 2%;
    }

    .contact-subtitle {
        font-weight: bold;
    }

    .contact-label {
        font-weight: bolder;
    }

    .map-container {
        height: 100%;
        width: 100%;
    }

    .map {
        height: 300px;
        width: 100%;
    }

    /*MQ Contact*/
    @media only screen and (min-width:760px) {
        .contact-container {
            width: 60%;
            margin-left: 20%;
        }

        .map-container {
            margin-top: 5%;
            margin-bottom: 0%;
        }
    }

    @media only screen and (max-width:768px) {
        .contact-subtitle {
            margin-left: 2%;
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 80%;
            margin-left: 10%;

        }

        .map {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}