.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;

        .btnContact {
        background-color: #A7727D;
        color: #EDDBC7;
        border-color: #A7727D;
        font-weight: bold;
        margin-left: 2%;
        margin-bottom: 4%;
        align-content: end;
    }
    .contact-title {
        font-weight: bold;
        margin-top: 2%;
    }

    .contact-subtitle {
        font-weight: bold;
    }

    .contact-label {
        font-weight: bolder;
    }

    .map-container {
        height: 100%;
        width: 100%;
    }

    .map {
        height: 300px;
        width: 100%;
    }
}