.other-services {
    h1 {
        display: flex;
        font-size: xx-large;
        font-weight: bold;
        justify-content: center;
    }

    .exam-mainTitle {
        color: #A7727D;
        display: flex;
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .exams {
        justify-content: center;
    }

    .card-otherS {
        border-radius: 20px;
        box-shadow: gray 4px 4px 4px 4px;
        background-color: #F9F5E7;
    }

    .card-otherS:hover {
        filter: opacity(.4);
    }

    .btn {
        width: 50%;
        background-color: #A7727D;
        border-color: #A7727D;
        justify-content: center;
        margin-left: 25%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-weight: bold;
        font-size: medium;
    }

    .workShops {
        justify-content: center;
    }

    .card-title {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        padding-top: 10%;
    }

    .card-text {
        text-align: justify;
    }
}