.other-services {
    margin-bottom: 3%;

    h1 {
        color: #A7727D;
        font-style: italic;
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    .other-servicesTitle {
        display: flex;
        font-style: italic;
        font-size: xx-large;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .exams-cards {
        margin-left: 5%;
        margin-bottom: 2;
        border-radius: 10px;
        box-shadow: gray 2px 2px 2px 4px;
        background-color: #F9F5E7;
        text-align: center;

        .exams-cards:hover {
            filter: opacity(.4);
        }

        .exams-title {
            display: flex;
            justify-content: center;
        }

        .exams-text {
            text-align: justify;
        }

        .btnServices {
            background-color: #A7727D;
            color: #F9F5E7;
            border-color: #A7727D;
        }

        .btnServices:hover {
            filter: opacity(.8);
        }
    }
    @media only screen and (min-width:768px) and (max-width: 1024px){
        .other-services{
            display: flex;
            flex-direction: column;
        }
    }
}
