@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");
header .menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #A7727D;
  font-weight: normal;
  list-style: none;
  align-content: center;
}
header .link {
  text-decoration: none;
  color: #EDDBC7;
}
header .logoheader {
  max-width: 20%;
  padding-left: 0;
  margin-left: 0;
  background-color: #A7727D;
  font-size: 2rem;
}
header .navbar-brand {
  max-width: 50%;
  font-size: 1rem;
}

footer {
  width: 100%;
  background-color: #80575f;
  /*MQ footer responsive*/
}
footer .footer-content {
  width: 100%;
  background-color: #A7727D;
  display: grid;
  grid-template-areas: "img1  img2   img3" "img4  img2   img6";
  grid-template-columns: 20% 60% 20% grid-template-rows 10px 10px;
}
footer .footer-content .facebook {
  grid-area: img1;
}
footer .footer-content .logo-footer {
  grid-area: img2;
}
footer .footer-content .mail {
  grid-area: img3;
}
footer .footer-content .instagram {
  grid-area: img4;
}
footer .footer-content .phone {
  grid-area: img6;
}
footer .logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .logo-footer img {
  width: 40%;
  padding-top: 5%;
  padding-bottom: 3%;
}
footer .facebook img {
  width: 13%;
  padding-top: 5%;
  padding-left: 2%;
  text-align: end;
}
footer .instagram img {
  width: 13%;
  padding-top: 5%;
  padding-left: 2%;
  text-align: end;
}
footer .mail {
  text-align: end;
  padding-right: 5%;
}
footer .mail img {
  width: 9%;
  padding-top: 5%;
}
footer .phone {
  text-align: end;
  padding-right: 5%;
}
footer .phone img {
  width: 10%;
  padding-top: 5%;
}
@media only screen and (max-width: 760px) {
  footer .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
  }
  footer .logo-footer img {
    width: 20%;
    justify-content: center;
  }
  footer .facebook img {
    width: 25%;
    padding-top: 5%;
    padding-left: 2%;
    align-items: end;
  }
  footer .facebook {
    align-items: end;
  }
  footer .instagram img {
    width: 25%;
    padding-top: 5%;
    padding-left: 2%;
  }
  footer .instagram {
    align-items: end;
  }
  footer .mail img {
    width: 10%;
    padding-top: 5%;
  }
  footer .mail {
    text-align: end;
    padding-right: 5%;
  }
  footer .phone img {
    width: 10%;
    padding-top: 5%;
  }
  footer .phone {
    text-align: end;
    padding-right: 5%;
  }
}

.main-index {
  height: 90%;
  background-color: #F9F5E7;
  /*Cards index responsive*/
}
.main-index .index-title {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: 3%;
}
.main-index .index-text {
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 3%;
  margin-right: 5%;
  font-size: x-large;
  text-align: justify;
}
.main-index .missionphoto {
  height: 70%;
  width: 100%;
  border-radius: 50px;
  box-shadow: gray 4px 4px 4px 4px;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 5%;
}
.main-index .row-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-index .card {
  background-color: #EDDBC7;
  box-shadow: gray 2px 2px 2px 2px;
  align-items: center;
  width: 10rem;
  align-items: center;
  margin-left: 4%;
  margin-top: 3%;
  margin-right: 4%;
  margin-bottom: 10%;
}
.main-index .card:hover {
  filter: opacity(0.4);
}
.main-index .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-index .card .card-title {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}
.main-index .card .card-subtitle {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}
.main-index .card .images-section {
  width: 30%;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 760px) {
  .main-index .index-title {
    font-size: x-large;
  }
  .main-index .index-title .index-text {
    font-size: x-large;
  }
  .main-index .index-title p {
    font-size: medium;
  }
  .main-index .row-card {
    display: flex;
    flex-direction: column;
  }
  .main-index .row-card .card {
    width: 60%;
    align-items: center;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
  }
  .main-index .row-card .card .card-title {
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
}

.main-aboutUs {
  width: 100%;
  background-color: #F9F5E7;
  /*MQ about-us*/
}
.main-aboutUs h1 {
  color: #80575f;
  font-style: italic;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 3px;
}
.main-aboutUs .aboutUs-content {
  width: 100%;
  display: grid;
  grid-template-areas: "img1 text1" "text2 img2" "img3  text3 ";
  grid-template-columns: 50% 50%;
}
.main-aboutUs .institute-photo {
  grid-area: img1;
  width: 80%;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 2px;
}
.main-aboutUs .ebabel-story {
  grid-area: text1;
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.main-aboutUs .ebabel-story p {
  text-align: justify;
  font-size: large;
  margin-left: 5%;
}
.main-aboutUs .ebabel-story h2 {
  color: #80575f;
  font-size: xx-large;
  font-style: italic;
  align-items: start;
  padding-left: 5px;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 5px;
}
.main-aboutUs .founder1 {
  grid-area: text2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-justify: justify;
  align-items: center;
  align-content: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: large;
}
.main-aboutUs .founder1 h2 {
  color: #80575f;
  font-size: xx-large;
  font-style: italic;
}
.main-aboutUs .founder1-photo {
  grid-area: img2;
  width: 80%;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 2px;
}
.main-aboutUs .founder2-photo {
  grid-area: img3;
  width: 80%;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 2px;
}
.main-aboutUs .founder2 {
  grid-area: text3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-justify: justify;
  align-items: center;
  align-content: center;
  margin-left: 1%;
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 3%;
  text-align: justify;
  font-size: large;
}
.main-aboutUs .founder2 h2 {
  color: #80575f;
  font-size: xx-large;
  font-style: italic;
}
@media only screen and (min-width: 760px) {
  .main-aboutUs .aboutUs-content {
    width: 100%;
    display: grid;
    grid-template-areas: "img1 text1" "text2 img2" "img3  text3 ";
    grid-template-columns: 50% 50%;
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .main-aboutUs .aboutUs-content {
    width: 100%;
    display: grid;
    grid-template-areas: "img1" "text1" "img2" "text2" "img3" "text3";
    grid-template-columns: 100%;
    flex-direction: flex;
    align-items: center;
  }
}

.coursesTitle {
  /*MQ Courses responsive*/
}
.coursesTitle h1 {
  color: #80575f;
  background-color: #EDDBC7;
  font-style: italic;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.coursesTitle .main-courses {
  display: grid;
  grid-template-areas: "img1 text1 img2 text2" "empty-img1 img3 text3 empty-text1" "img4 text4 img5 text5" "empty-img2 img6 text6  empty-text2";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: max-content;
}
.coursesTitle .children {
  grid-area: img1;
  width: 100%;
}
.coursesTitle .text-courses-1 {
  grid-area: text1;
  background-color: #F9F5E7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  color: #80575f;
  margin-bottom: 0;
}
.coursesTitle .teens {
  grid-area: img2;
  width: 100%;
}
.coursesTitle .text-courses-2 {
  grid-area: text2;
  background-color: #F9F5E7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  color: #80575f;
  margin-bottom: 0;
}
.coursesTitle .adults {
  grid-area: img3;
  width: 100%;
}
.coursesTitle .text-courses-3 {
  grid-area: text3;
  background-color: #F9F5E7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  color: #80575f;
  margin-bottom: 0;
}
.coursesTitle .company {
  grid-area: img4;
  width: 100%;
}
.coursesTitle .text-courses-4 {
  grid-area: text4;
  background-color: #F9F5E7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  color: #80575f;
  margin-bottom: 0;
}
.coursesTitle .online-classes {
  grid-area: img5;
  width: 100%;
}
.coursesTitle .text-courses-5 {
  grid-area: text5;
  background-color: #F9F5E7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  color: #80575f;
  margin-bottom: 0;
}
.coursesTitle .text-courses-6 {
  grid-area: text6;
  background-color: #F9F5E7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  color: #80575f;
  margin-bottom: 0;
}
.coursesTitle .individual-classes {
  grid-area: img6;
  width: 100%;
}
.coursesTitle .empty-img1 {
  grid-area: empty-img1;
  background-color: #EDDBC7;
}
.coursesTitle .empty-text1 {
  grid-area: empty-text1;
  background-color: #EDDBC7;
}
.coursesTitle .empty-img2 {
  grid-area: empty-img2;
  background-color: #EDDBC7;
}
.coursesTitle .empty-text2 {
  grid-area: empty-text2;
  background-color: #EDDBC7;
}
@media only screen and (max-width: 768px) {
  .coursesTitle .main-courses {
    background-color: #F9F5E7;
    display: grid;
    grid-template-areas: "img1 text1" "img2 text2" "img3 text3" "img4 text4" "img5 text5" "img6 text6";
    grid-template-columns: 45% 55%;
    grid-template-rows: max-content;
    row-gap: 10px;
    padding-left: 6%;
    padding-top: 3%;
  }
  .coursesTitle .main-courses h2 {
    font-size: large;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .coursesTitle .main-courses .text-courses-2 {
    margin-left: 20%;
  }
  .coursesTitle .main-courses .text-courses-6 {
    margin-left: 20%;
  }
}

.exam-mainTitle {
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

.exam-container {
  display: flex;
  justify-content: center;
}

.card-otherS {
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  border-radius: 30px;
  box-shadow: gray 5px 5px 5px 5px;
  padding-bottom: 2%;
  background-color: #F9F5E7;
}

.card-otherS:hover {
  filter: opacity(0.4);
}

.exam-title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
}

.text-exam {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  display: flex;
  width: 50%;
  background-color: #A7727D;
  border-color: #A7727D;
  justify-content: center;
  margin-left: 25%;
  font-weight: bold;
  font-size: medium;
}

.workShops-container {
  display: flex;
  justify-content: center;
  /*MQ Other services*/
}
.workShops-container .exam-title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
}
.workShops-container .text-exam {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}
@media only screen and (max-width: 768px) {
  .workShops-container .exam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workShops-container .workShops-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .workShops-container .card-otherS {
    width: 80%;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  /*MQ Contact*/
}
.contact-form .btnContact {
  background-color: #A7727D;
  color: #EDDBC7;
  border-color: #A7727D;
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 4%;
  align-content: end;
}
.contact-form .contact-title {
  font-weight: bold;
  margin-top: 2%;
}
.contact-form .contact-subtitle {
  font-weight: bold;
}
.contact-form .contact-label {
  font-weight: bolder;
}
.contact-form .map-container {
  height: 100%;
  width: 100%;
}
.contact-form .map {
  height: 300px;
  width: 100%;
}
@media only screen and (min-width: 760px) {
  .contact-form .contact-container {
    width: 60%;
    margin-left: 20%;
  }
  .contact-form .map-container {
    margin-top: 5%;
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .contact-form .contact-subtitle {
    margin-left: 2%;
  }
  .contact-form .contact-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 80%;
    margin-left: 10%;
  }
  .contact-form .map {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}/*# sourceMappingURL=estilos.css.map */